html, body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: 100%;
  background-color: #ecf0f1;
}

.header {
  display: flex;
  height: 80px;
  font-size: 20;
  align-items: center;
  justify-content: space-around;
  background-color: #E26A6A;
  color: white;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 80%;
  margin: 20px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.chart-list {
  width: 800px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.chart-container {
  flex-direction: column;
  margin-bottom: 80px;
}

.chart-label {
  width: 800px;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  font-size: 20px;
}